<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.nagp.common.listners.TestListener"/>
    </listeners>

    <test name="Home Test Cases">
        <classes>
            <class name="com.nagp.test.HomeTestRunner"/>
        </classes>
    </test>

    <test name="Category Test Cases">
        <classes>
            <class name="com.nagp.test.CategoryTestRunner"/>
        </classes>
    </test>

    <test name="LoginTestCases">
        <classes>
            <class name="com.nagp.test.LoginTestRunner"/>
        </classes>
    </test>

</suite>